<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
</body>
</html>
<h1>SIMPLE Stage Interface</h1>
<h2>warning: content is not saved</h2>
<div class="controls">
  <div class="container">
    <div class="line-indicator"></div>
    <textarea id="cmds"></textarea><br />
  </div>
  <button id="go">Run Command</button>
</div>
<div class="commands-list">
  <h3>oneOn(BOX, R, G, B);</h3>
  <p>Turns on <em>BOX</em> to <em>R</em>, <em>G</em>, <em>B</em></p>
  <h3>oneOff(BOX);</h3>
  <p>Turns off <em>BOX</em></p>
  <h3>flicker();</h3>
  <p>makes box 4 flicker</p>
  <h3>kill();</h3>
  <p>stops all animations (flickers, fade, etc)</p>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var currentLine = 0;
  
  var updateLine = function(){
  
    $('.line-indicator').css('top',currentLine*20 + 'px');
  }
  
  $("#cmds").on('click', function(){
    line = getLineNumber($('#cmds'));
    currentLine = line;
    updateLine();
  });
  
  $('#go').on('click', function(){
    commands = $('#cmds').val();
    cmd = commands.split('\n')[currentLine];
    data = {cmd: cmd};
    
    $.post('service', data, function(data){
      if (data === 'ok') {  
        currentLine ++;
        updateLine();
      }
    })
    
  });
});

function getLineNumber(textarea) {
    return textarea.val().substr(0, textarea[0].selectionStart).split("\n").length - 1;
}
</script>