body {
  padding: 20px;
  background-color: #fff;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  font: 14px sans-serif;
  height: 1000px;
  width: 300px;
  line-height: 20px;
  position: absolute:
  z-index: 10;
  background-color: rgba(255,255,255,0);
  overflow: hidden;
  outline: none;
}

.container {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: scroll;
}

.line-indicator {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 20px;
  background-color: rgba(242, 216, 0, 0.5);
}

.controls {
  float: left;
  width: 340px;
}

.commands-list {
  float: left;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: 400;
  margin: 0 0 20px 0;
}

h2 {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: normal;
  font-weight: 400;
  color: #ff0000;
}

h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: 600;
  font-size: 14px;
}

p {
  color: #666;
  font-size: 12px;
  margin: 0 0 8px 0;
  padding: 0;
  line-height: normal;
}

button {
  background-color: #13c900;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #12ae02;
  border-radius: 10px;
  margin: 10px 0;
  outline: none;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 100;
}

button:hover {
  opacity: 0.7;
}